html, body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.body {
    background-color: #1f2937;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 150px;
}

.link {
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-right: 150px;
}

.header img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

ul {
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.head {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    width: 400px;
    margin-left: 150px;
}

.code {
    float: right;
    width: 500px;
    height: 300px;
    margin-right: 150px;
    margin-bottom: 100px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
    margin-left: 150px;
}

.sign {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 100px;
    border: 1px solid #3882f6;
    font-size: 15px;
    font-weight: bold;
    margin-left: 150px;
    margin-bottom: 100px;
}




.content {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.back {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid #1f2937;
}

.front {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: 2x solid #1f2937;
}

.full {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid #1f2937;
}

.text {
    color: grey;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.bck {
    width: 250px;
}

.frnt {
    width: 250px;
}

.stack {
    width: 250px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-family: sans-serif;
    padding: 20px;
}

.a {
    font-size: 36px;
    font-style: italic;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.author {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    font-size: 24px;
    font-weight: bold;
}


.footer {
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 50px;
    color: white;
    background-color: #1f2937;
    justify-content: center;
    padding: 40px;
    align-items: center;
    display: flex;
}